= form_for @house do |f|
  - if @house.errors.any?
    #error_explanation
      %h2= "#{pluralize(@house.errors.count, "error")} prohibited this person from being saved:"
      %ul
        - @house.errors.full_messages.each do |msg|
          %li= msg
  %br/
  =f.label "House Name"
  =f.text_field :name

  %br/
  =f.submit "Conjure House"
