<h1>Welcome to Hogwarts!</h1>
<a href="/houses">View Houses</a>
<a href="students/new">Enroll</a>
<a href="students/">View Students</a>
<div id="welcome-logo-block">
  <img id="welcome-logo" src="/images/hogwarts.jpg"/>
</div>